* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
    font-style: oblique;
}

body {
    background-color: rgb(227, 225, 225);
}

.container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(227, 225, 225);

    .navContainer {
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        nav {
            background-color: #fff;
            padding: 20px;
            width: 80px;
            height: 80px;
            font-size: 1.4em;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            transition: width 0.6s linear;
        }
        
        nav.active {
            width: 100%;
        }
        
        nav ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 0;
            transition: width 0.6s linear;
        }
        
        nav.active ul {
            width: 100%;
        }
        
        nav ul li {
            transform: rotateY(0deg);
            opacity: 0;
            transition: transform 0.6s linear, opacity 0.6s linear;
        }
        
        nav.active ul li {
            opacity: 1;
            transform: rotateY(360deg);
        }
        
        nav ul a {
            position: relative;
            color: #0c0c0c;
            text-decoration: none;
            margin: 0 10px;
        }
        
        .icon {
            background-color: #fff;
            border: 0;
            cursor: pointer;
            padding: 0;
            position: relative;
            height: 30px;
            width: 30px;
        }
        
        .icon:focus {
            outline: 0;
        }
        
        .icon .line {
            background-color: rgb(160, 178, 250);
            height: 2px;
            width: 20px;
            position: absolute;
            top: 20px;
            left: 5px;
            transition: transform 0.6s linear;
        }
        
        .icon .line2 {
            top: 12px;
            bottom: 10px;
        }
        
        nav.active .icon .line1 {
            transform: rotate(-765deg) translateY(5.5px);
        }
        
        nav.active .icon .line2 {
            transform: rotate(-765deg) translateY(5.5px);
        }
        
        nav.active .icon .line1 {
            transform: rotate(765deg) translateY(-5.5px);
        }
    }
    

    header {
        width: 100%;
        height: 500px;
        background-image: url('https://media.istockphoto.com/id/1355270064/photo/a-businessman-operating-a-computer-display-with-a-cost-control-business-concept-on-it.jpg?s=2048x2048&w=is&k=20&c=v2oboUDb0-HvfYMw3jr2RBabzZxeUjJXufUy8X1PY_A=');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
}

main {
    width: 100%;
    min-height: 700px;
    display: flex;
    // flex-direction: column;

    .left {
        width: 30%;
        padding: 10px;
        // background-color: #333;

        form {
            width: 80%;
            height: 200px;
            margin: 20px auto;

            label {
                display: block;
                font-size: 1.4rem;
                margin-bottom: 5px;
            }

            input {
                display: block;
                width: 80%;
                height: 20px;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 15px;
                font-size: 1.2em;
                color: green;
            }

            button {
                width: 140px;
                height: 25px;
                background-color: green;
                border: 0px;
                border-radius: 10px;
                color: #fff;
                margin-top: 5px;
            }
        }
    }

    .right {
        width: 70%;
        padding: 10px;
        padding-top: 40px;
    }
}

.content {
    margin-top: 20px;
}

.h1-products {
    margin-bottom: 20px;
}

.products {
    width: 80%;
    height: 30px;
    border: 1px solid #333;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px 0 40px 20px;
    font-style: oblique;
    background-color: #fff;

    ul li {
        list-style: none;
    }

    ul li a {
        text-decoration: none;
    }
}

.priceBox {
    width: 100%;
    height: 30px; 
    padding-left: 20px;
}

#priceBox {
    width: 100%;
}

.searchForm {
    width: 100%;
    height: 50px;
    // border-bottom: 1px solid orange;
    padding: 10px;
    // margin: 20px 0 20px 0;
    margin: 0 auto;
    display: block;
}

.searchForm label {
    font-size: 1.3em;
    margin-right: 5px;
}

.searchForm input {
    width: 50%;
    height: 30px;
    font-size: 1.3em;
    border-radius: 10px;
    padding: 10px;
    color: orangered;
    margin-right: 10px;
}

.searchForm button {
    width: 100px;
    height: 25px;
    background-color: green;
    border: 0px;
    border-radius: 10px;
    color: #fff;
}

.displayByItem li {
    list-style: none;
    width: 80%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 0 20px 10px;
    font-size: 1.2em;
    background-color: #fff;
}

@media screen and (max-width: 800px) {
    .container {
        width: 98%;

        .nav ul li {
            display: none;
        }
    
        header {
            height: 300px;
        }
    }
    
    main {
        min-height: 700px;
        flex-direction: column;
    
        .left {
            width: 100%;
            padding: 10px;
    
            form {
                width: 100%;
    
                input {
                    width: 90%;
                }
            }
        }
    
        .right {
            width: 100%;


        }
    }

    .searchForm {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        // background-color: aqua;

        .h1-products {
            // text-align: center;
            margin: 0 auto;
        }

        label {
            margin: 0 auto;
        }

        input {
            margin: 10px auto;
        }

        button {
            margin: 10px auto;
        }
    }
    
    .products {
        width: 100%;
    
        ul li {
            width: 100%;
        }
    
        .priceBox {
            width: 100%;
        }
    }
}

.displayByItem li{
    width: 100%;
}